.graph_container{
	height: 200px;
	padding: 5px;
}
.bar{
	background: #00BCF2;    
	float: left;	
	color: #fff;
	padding: 2px;
	margin-right: 5px;      
	text-align: center;
	width: 40px; 
}
input.small{
    width: 30px;
}
input[type="button"]{
    background: #00BCF2;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
    margin-top: 10px;
}
input[type="button"]:hover{
    background: #00A2D8;
}

.remove{
    color: red;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin-left: 5px;
}